.form {
  display: flex;
  justify-content: center;
  margin: 0 auto calc-rem(24px);
  width: 86%;

  @include mq(w992) {
    margin-bottom: calc-rem(60px);
  }
}

.label {
  position: relative;
  width: 100%;
  // height: calc-rem(50px);
  max-width: calc-rem(540px);
}

.search {
  transition: border $global-transition;
  width: 100%;
  height: calc-rem(50px);
  padding-left: calc-rem(64px);
  background-color: getColor('secondary-1');
  border: 1px solid getColor('secondary-2');
  border-radius: calc-rem(4px);
  box-shadow: 0 2px 34px 0 getColor('secondary-3');

  &:focus {
    // outline: getColor('primary-2') auto 3px;
    outline: none;
    border: 1px solid getColor('primary-2');
  }

  @include mq(w992) {
    height: calc-rem(60px);
  }
}