/* style for hart icon - favorites */
.svg-icon__hart.is-favorite {
  fill: getColor('secondary-3');
  stroke: getColor('secondary-3');
}

/* cancel save btns */
.btn__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
