.svg-icon {
  fill: getColor('secondary-4');
  transition: fill $global-transition, stroke $global-transition;

  &__hart {
    fill: transparent;
    stroke: getColor('secondary-4');

    &--filled {
      fill: getColor('secondary-4');
    }
  }
}