.svg-icon {
  fill: getColor('secondary-4');
  transition: fill $global-transition, stroke $global-transition;

  &__hart {
    fill: transparent;
    stroke: getColor('secondary-4');

    &--filled {
      fill: getColor('secondary-4');
    }
  }

  &__mail {
    margin-top: calc-rem(2px);
  }

  &__person {
    margin-top: calc-rem(-1px);
  }
}