.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 86%;
  max-width: calc-rem(1260px);
  height: calc-rem(50px);
  border-bottom: 1px solid getColor('primary-2');

  a {
    text-align: center;
    color: getColor('secondary-4');
    font-weight: 700;
    text-decoration: none;
    transition: color $global-transition;

    &.router-link-exact-active {
      color: getColor('primary-2');
    }

    &:not(:first-child) {

      &:before {
        content: '|';
        display: inline;
        margin: 0 calc-rem(28px);
        color: getColor('secondary-4');
      }
    }
  }

  @include mq(w992) {
    height: calc-rem(90px);
  }

  @include mq(w1200) {
    height: calc-rem(120px);
  }
}