.user-single,
.user-add-new {

  .img-mobile,
  .img-desktop {
    position: relative;
    border: calc-rem(3px) solid getColor('lighten-3');
    border-radius: 50%;
    overflow: hidden;

    svg {
      z-index: 5;
    }

    &.img--add {
      background-color: rgba(getColor('primary-2'), 0.4);
      border-color: getColor('secondary-2');
    }

    &.img--remove {
      .svg-icon__remove {
        fill: white;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(black, .6);
        opacity: .3;
        z-index: 4;
      }
    }
  }

  .svg-icon__upload,
  .svg-icon__remove {
    position: absolute;
    left: 50%;
    top: 49%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
}

.user-single {
  &__header {
    height: calc-rem(100px);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto calc-rem(24px);
    width: 87%;
    border-bottom: 1px solid getColor('primary-2');

    &--visibility {
      .svg-icon {
        display: none;
      }

      .svg-icon__remove {
        display: block;
      }
    }

    .svg-icon {
      cursor: pointer;
    }

    .icons-left {
      display: flex;
      align-items: center;
      margin-left: calc-rem(5px);
    }

    .icons-right {
      &.icons-right--del-position {
        display: none;
        font-size: calc-rem(14px);
        color: getColor('secondary-4');
        // display: flex;
        align-items: center;
        cursor: pointer;

        svg {
          margin-left: calc-rem(15px);
        }
      }

      svg {
        &:not(:first-child) {
          margin-left: calc-rem(34px);
        }
      }
    }

    .img-mobile {
      width: calc-rem(56px);
      height: calc-rem(56px);
      margin-right: calc-rem(23px);

      img {
        width: calc-rem(50px);
        height: calc-rem(50px);
      }
    }
  }

  &__data {
    width: 87%;
    margin: 0 auto;

    .data-wrap {
      margin-bottom: calc-rem(50px);
    }

    .label {
      display: flex;
      align-items: center;
      font-weight: 700;
      color: getColor('primary-2');
      text-transform: lowercase;
      margin-bottom: calc-rem(12px);

      svg {
        width: calc-rem(20px);
        margin-right: calc-rem(8px);
      }

      .svg-icon__mail {
        margin-top: 1px;
      }
    }

    .field {
      padding-left: calc-rem(29px);

      &__single {
        margin-bottom: calc-rem(28px);
        display: flex;

        p {
          display: inline-block;
          line-height: calc-rem(20px);

          &:first-child {
            text-transform: uppercase;
            width: calc-rem(94px);
            min-width: calc-rem(94px);
            margin-right: 14px;
            word-break: break-all;
          }

          &:nth-child(2) {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .img-desktop {
    display: none;
  }

  @media screen and (min-width: calc-em(375px)) {
    &__data {
      padding: 0 calc-rem(25px);
    }
  }

  @include mq(w640) {
    &__nav {
      .icons-wrap {
        height: calc-rem(60px);
      }
    }

    &__data {
      .data-wrap {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
      }

      .label {
        width: calc-rem(120px);
        margin-bottom: 0;
      }
    }
  }

  @include mq(w992) {
    width: 850px;
    margin: 0 auto;
    padding-left: calc-rem(220px);
    position: relative;

    .img-desktop {
      display: block;
      width: calc-rem(186px);
      height: calc-rem(186px);
      position: absolute;
      left: 0;
      top: calc-rem(54px);

      img {
        width: calc-rem(180px);
        height: calc-rem(180px);
      }
    }

    &__header {
      justify-content: space-between;
      height: calc-rem(150px);
      align-items: flex-end;
      padding-bottom: calc-rem(27px);
      margin-bottom: calc-rem(64px);
      width: calc-rem(630px);

      &--visibility {
        .svg-icon {
          display: inline-block;
        }
      }

      .icons-right {
        &.icons-right--del-position {
          display: flex;
        }

        svg {
          &:not(:first-child) {
            margin-left: calc-rem(44px);
          }
        }
      }

      .img-mobile {
        display: none;
      }

      .svg-icon__arrow-back {
        margin-right: calc-rem(20px);
      }
    }

    &__data {
      width: calc-rem(630px);

      .data-wrap {
        margin-bottom: calc-rem(72px);
      }
    }
  }
}

.user-add-new {
  &.user-single {
    .user-single__header {
      height: auto;
      padding: calc-rem(27px);

      .img-mobile {
        display: block;
        width: calc-rem(156px);
        height: calc-rem(156px);
        margin: 0 auto;

        img {
          width: calc-rem(150px);
          height: calc-rem(150px);
        }
      }
    }
  }

  &__body {
    margin: 0 auto 1.5rem;
    width: 87%;
  }

  @include mq(w992) {
    &.user-single {
      .user-single__header {
        height: calc-rem(150px);
        margin-bottom: calc-rem(18px);
        padding-left: 0;
        padding-right: 0;

        .img-mobile {
          display: none;
        }
      }
    }

    &__body {
      width: calc-rem(630px);
    }
  }
}