/*
*
* creating typography params
*
*/
// @mixin full-font-style($font-size, $letter-spacing, $line-height) {
//   font-size: calc-rem($font-size);
//   letter-spacing: calc-em($letter-spacing, $font-size);
//   line-height: get-line-height($font-size, $line-height);
// }
@mixin full-font-style($font-size, $line-height) {
  font-size: calc-rem($font-size);
  line-height: get-line-height($font-size, $line-height);
}

/*
*
* media query breakpoint generator
*
*/
$breakpoints: ("w400": 400px,
  "w480": 480px,
  "w560": 560px,
  "w640": 640px,
  "w768": 768px,
  "w992": 992px,
  "w1200": 1200px,
  "w1440": 1440px,
  "w1600": 1600px,
  // 1740 for removing paddings after base-wrap starts 
  "w1740": 1740px,
  "w1920": 1920px,
  "w2160": 2160px,
  "w2560": 2560px);

@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type==max {
      $width: $width - 1px;
    }

    @media only screen and (#{$type}-width: calc-em($width)) {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
    +"Please make sure it is defined in `$breakpoints` map.";
  }
}