/*
*
* GLOBAL
*
*/

/* Text var */
$primary-font: "lato",
Tahoma,
Sans-Serif !default;

/* color variables */


/* transitions */
$global-transition: 250ms ease-in-out;

/*  global max-width of base-wrapper*/
$global-wrap--width: 1440px;

/* Paddings and margins global, user for wrapper padding of content */
$wrapper-xsmall--padding: 8px;
$wrapper-small--padding: 20px;
$wrapper-medium--padding: 40px;
$wrapper-large--padding: 60px;
$wrapper-xlarge--padding: 80px;