/*
*
* GLOBAL
*
*/

/* Text var */
$primary-font: "lato",
Tahoma,
Sans-Serif !default;

/* color variables */


/* transitions */
$global-transition: 250ms ease-in-out;

/*  global max-width of base-wrapper*/
$global-wrap--width: 1440px;

/* Paddings and margins global, user for wrapper padding of content */
$wrapper-xsmall--padding: 8px;
$wrapper-small--padding: 20px;
$wrapper-medium--padding: 40px;
$wrapper-large--padding: 60px;
$wrapper-xlarge--padding: 80px;

// surface color => surfaces of components, such as cards, sheets, and menus.


// background color => appears behind scrollable content. The baseline background and surface color is #FFF

// error color =>  indicates errors in components, such as invalid text in a text field. The baseline error color is #B00020.

/*
*
* TODO: THEME HERE !  (watch for gradients, different borders on elements, hovers (pogledaj element sta daje)
*
*/



/*
*
* BUTTONS
* all button variables for manipulation
*
*/


/*
*
* NAVIGATION AND HYPERLINKS
*
*/


/*
*
* INPUT
*
*/


/*
*  SVG logo colors GLOBAL
*/